.contact-block__location-and-age {
    font-family: "TT Commons";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    letter-spacing: -0.02em;
}

@media (min-width: 360px) and (max-width: 1439px) {
    .contact-block__location-and-age {
        font-size: 16px;
        line-height: 20px;
    }
}